# K3S API Server
frontend k3s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s-backend
    timeout client 50000

backend k3s-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    timeout connect 5000
    timeout server 50000
    server K3S-SERVER-A 192.168.100.5:6443 check
    server K3S-SERVER-B 192.168.100.6:6443 check
    server K3S-SERVER-C 192.168.100.7:6443 check

# Application Traffic (HTTP)
frontend k3s-apps-http
    bind *:80
    mode http
    default_backend k3s-apps-backend
    timeout client 50000

backend k3s-apps-backend
    mode http
    balance roundrobin
    timeout connect 5000
    timeout server 50000
    server K3S-AGENT-LA1 192.168.100.8:80 check
    server K3S-AGENT-LA2 192.168.100.9:80 check
    server K3S-AGENT-MA3 192.168.100.10:80 check
    server K3S-AGENT-MA4 192.168.100.11:80 check
    server K3S-AGENT-MB1 192.168.100.12:80 check
    server K3S-AGENT-MB2 192.168.100.13:80 check
    server K3S-AGENT-MC1 192.168.100.14:80 check

# Application Traffic (HTTPS)
frontend k3s-apps-https
    bind *:443
    mode tcp
    #-- Allowlist approach; only permit known public subdomains and allow anything if src is LAN
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    acl is_public req.ssl_sni -i auth.fahmed.org linkding.fahmed.org
    acl is_private src 192.168.1.1/24
    tcp-request content reject if !is_public !is_private
    use_backend k3s-apps-https-backend if is_public or is_private
    #-- Allowlist approach; only permit known public subdomains
    timeout client 50000

backend k3s-apps-https-backend
    mode tcp
    balance roundrobin
    timeout connect 5000
    timeout server 50000
    server K3S-AGENT-LA1 192.168.100.8:443 check
    server K3S-AGENT-LA2 192.168.100.9:443 check
    server K3S-AGENT-MA3 192.168.100.10:443 check
    server K3S-AGENT-MA4 192.168.100.11:443 check
    server K3S-AGENT-MB1 192.168.100.12:443 check
    server K3S-AGENT-MB2 192.168.100.13:443 check
    server K3S-AGENT-MC1 192.168.100.14:443 check
